*{
margin:  0;
padding: 0;
}
body{

    margin:0;
    padding-top: 46%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-image: url("hackerbackground.jpg");
}
.nav{
    background-color: white;
    z-index: 8;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 1.5);
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width: 60%;
}
.nav_side{
    float: right;
    width: 40% ;
    margin-top: 40px;
    margin-left: 100px;

}
.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: goldenrod;
    transition: all 1s;

}
.Loginbox{
    background-image: url('hacking.jpg');
    background-size: cover;
    width: 420px;
    height: 420px;
    color:red;
    top:55%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 1.5);
    border: solid whitesmoke;
    padding: 70px 30px;
}
.q1
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left:calc(50% - 50px); 
}
h1{
    margin:0; 
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px;
}
.Loginbox p{
    margin:0;
    padding:0;
    font-width:bold;
}
.Loginbox input{
    width:100%;
    margin-bottom:20px;
}
.Loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid blue;
    background: transparent;
    outline:none;
    height:40px;
    color:white;
    font-size: 16px;
}
.Loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.Loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: yellow;
    color:black;
}
.Loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.Loginbox a:hover
{
   
    color: yellow;

}
footer{
    background-color:#D7DBDD  ;
}
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: red;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .pages a:hover{
    color: blue;
}

footer .document{
    text-align: center;
}
footer .document h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .document a{
    text-decoration: none;
    margin: 10px;
    color: red;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .document a:hover{
    color: blue;
}

footer .social_media{
    text-align: center;
}
footer .social_media h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .social_media a{
    text-decoration: none;
    font-size: 15px;
    color: red;
    margin: 10px;
}
footer .social_media a:hover{
    color: blue;
}

footer .contact{
    text-align: center;
}
footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}
footer .contact a{
    text-decoration: none;
    font-size: 15px;
    color: red;
    margin: 10px;
}
footer .contact a:hover{
    color: blue;
}