*{
margin:  0;
padding: 0;
background-clip: anonymous.mp3;
}
body{
}
.nav{
	background-color: white;
	z-index: 8;
	padding-left: 20px;
	padding-right: 30px;
	display: flex;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 1.5);
}
.nav_top{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.logo{
	float: left;
	width: 60%;
}
.nav_side{
	float: right;
	width: 40% ;
	margin-top: 40px;
	margin-left: 100px;

}
.nav_side a{
	text-decoration: none;
	margin-right: 20px;
	margin-top: 20px;
	color: black;
	font-weight: bold;
	font-family: cosmic, sans-serif;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}
.nav_side a:hover{
	color: goldenrod;
	transition: all 1s;

}
 .main{
	background-image: url('hackerbackground.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 65vh;
}
.main .main_content{
	
	padding-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}
.main .main_content h2 {
	color: goldenrod;
	text-shadow: 2px 2px white;
	font-size: 50px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	padding-top: 80px;
	line-height: 35px;
}
.main .main_content h2 span{
	font-size: 18px;
	text-shadow: none;
	opacity: 1;
	font-weight: lighter;
	color: whitesmoke;
	line-height: 20px;
}
.main .main_content .btn{
	padding-left: 500px;
	margin-top: 30px;
	text-align: center;
	margin: center;
}
.main .main_content .btn a{
	text-decoration: none;
	margin: 50px;
	padding: 10px 20px;
	background-color: red;
	color: gold;
	font-family: cosmic, sans-serif;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	transition: 1s;
}
.main .main_content .btn a:hover{
	background-color: black;
	color: gold;
	border: none;
	border-bottom: 2px solid gold;
	transition: 0.5s;
}
.products{
	padding-bottom: 50px;
}
.products h2{
	color: gold ;
	text-shadow: 2px 2px black;
	font-size: 35px;
	text-align: center;
	text-decoration-color: silver;
	padding: 20px;
	transition: 1s;
}
.products .product_container{
	display: grid;
  	grid-template-columns: 33% 33% 33%;	
  	grid-gap: 10px;
  	padding: 50px 20px;
}
.products .product_container .item{
	margin: 10px;
	height: auto;
}
.products .product_container .item:hover{
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.50);
}
.products .product_container .item .item_img{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.products .product_container .item .item_img img{
	width: 100%;
	height: 250px;
	padding-top:20px ;
	padding-bottom: 20px;
}
.products .product_container .item .item_content{
	text-align: center;
}
.products .product_container .item .item_content h2{
	padding: 10px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
	color: blue;
	text-shadow: none;
}
.products .product_container .item .item_content p{
	padding: 20px;
	font-size: 15px;;
	font-family: cosmic, sans-serif;
}
.products .product_container .item .item_content a{
	text-decoration: none;
	margin: 50px;
	padding: 10px 20px;
	background-color: darkblue;
	color: white;
	font-family: cosmic, sans-serif;
	text-align: center;
	border: 2px solid gold;
	border-radius: 10px;
	transition: 1s;
}
.products .product_container .item .item_content a:hover{
	background-color: black;
	color: gold;
	border: none;
	border-bottom: 2px solid gold;
	transition: 0.5s;
}
.products .product_btn{
	margin-top: 20px;
	text-align: center;
	margin: center;
}
.products .product_btn a{
	text-decoration: none;
	padding: 10px 20px;
	background-color: #4A14BC;
	color: white;
	font-family: cosmic, sans-serif;
	text-align: center;
	border: 2px solid gold;
	border-radius: 10px;
	transition: 0.5s;
}
.products .product_btn a:hover{
	background-color: black;
	color: gold;
	border: none;
	border-bottom: 2px solid gold;
	transition: 0.5s;
}
.key_points{
	padding: 10px;
	padding-bottom: 50px;
	

}
.key_points h2{
	color: darkblue ;
	text-shadow: 2px 2px gold;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: seagreen;

	padding-top: 10px;
	padding-bottom: 50px;
}
.key_points .key_container{
	display: flex;

}
.key_points .key_container .key_content{
	width: 40%;
	padding: 50px;
	float: left;
}
.key_points .key_container .key_content li{
	list-style: none;
	margin: 10px;
	padding: 10px;
	border-left: 2px solid gold;
	color: darkblue;
	text-align: left;
	font-family: cosmic,sans-serif;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
	transition: 0.5s;
}
.key_points .key_container .key_content li:hover{
	background-color: black;
	color: gold;
	border: none;
	border-bottom: 2px solid gold;
	transition: 0.40s;
}
.key_points .key_container .key_video{
	padding: 30px;
	width: 40%;
	float: right;
	margin-left: 200px;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
}
.key_points .key_container .key_video video{
	width: 100%;
	height: 100%;
	
}
.testing{
	padding: 50px;
	padding-top: 10px;
}
.testing h2{
	color: gold ;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px black;
	text-decoration-color: silver;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.testing .testing_container{
	margin-right: 7.5%;
	margin-left: 7.5%;
	text-align: center;
	
}
.testing .testing_container .carousel-inner{
	background-color: white;
	box-shadow: none;

}
.testing .testing_container .item{
	width: 100%;
	padding: 20px;
	background-color: lightgoldenrodyellow;
	box-shadow: none;
}
.testing .testing_container .item .item_img{
	width: 100%;
	height: 100px;
	text-align: center;
	overflow: hidden;
}
.testing .testing_container .item .item_img img{
	width: 100px;
	height: 100px;
	border-radius: 25%;
	
}
.testing .testing_container .item .item_content{
	text-align: center;
}
.testing .testing_container .item .item_content h2{
	padding: 10px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
}
.testing .testing_container .item .item_content p{
	padding: 20px;
	font-size: 15px;;
	font-family: cosmic, sans-serif;
}
.hacking{
	padding: 50px;
}
.hacking h2{
	color: gold ;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px black;
	text-decoration-color: silver;
	padding: 5px;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.hacking .hacking_container{
	display: flex;
}
.hacking .hacking_container .hacking_video{
	width: 50%;
	padding: 20px;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
}
.hacking .hacking_container .hacking_video iframe{
	width: 100%;
	height: 100%;

}
.hacking .hacking_container .hacking_content{
	width: 50%;
	padding: 20px;
	margin-left: 40px;
}
.hacking .hacking_container .hacking_content p{
	font-size: 20px;;
	font-family: cosmic, sans-serif;
}
.hacking .hacking_container .hacking_content .para{
	font-size: 30px;
	font-family: cosmic, sans-serif;
}
.hacking .hacking_container .hacking_content .para marquee a{
	color: gold;
	text-shadow: 2px 2px black;
	text-decoration: none;
	border: none;
	transition: 0.5s;
}
.hacking .hacking_container .hacking_content .para marquee a:hover{
	color: black;
	text-shadow: 2px 2px gold;
	text-decoration: none;
	border: none;
	transition: 0.5s;	
}

.feedback{
	padding: 40px;
	background-image: url('forms.jpg');
	background-size: cover;
}
.feedback h2{
	color: gold ;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px black;
	text-decoration-color: silver;
	padding: 5px;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.feedback .feedback_form{
	text-align: center;
}
.feedback .feedback_form form{
	padding: 20px;
}
.feedback .feedback_form form input{
	width: 30%;
	margin: 10px;
	padding: 5px;
	outline: none;
	border: none;
}
.feedback .feedback_form form textarea{
	width: 30%;
	margin: 10px;
	padding: 5px;
	outline: none;
	border: none;
}
.feedback .feedback_form form button{
	width: 30%;
	margin: 10px;
	padding: 5px;
	outline: none;
	border: none;
	background-color: gold;
	color: black;
	border-radius: 5px;
}

footer{
	background-color:#D7DBDD  ;
}
footer .pages{
	text-align: center;
}
footer .pages h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .pages a{
	text-decoration: none;
	margin: 10px;
	color: red;
	font-size: 15px;
	font-family: cosmic,sans-serif;
}
footer .pages a:hover{
	color: blue;
}

footer .document{
	text-align: center;
}
footer .document h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .document a{
	text-decoration: none;
	margin: 10px;
	color: red;
	font-size: 15px;
	font-family: cosmic,sans-serif;
}
footer .document a:hover{
	color: blue;
}

footer .social_media{
	text-align: center;
}
footer .social_media h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .social_media a{
	text-decoration: none;
	font-size: 15px;
	color: red;
	margin: 10px;
}
footer .social_media a:hover{
	color: blue;
}

footer .contact{
	text-align: center;
}
footer .contact h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .contact a{
	text-decoration: none;
	font-size: 15px;
	color: red;
	margin: 10px;
}
footer .contact a:hover{
	color: blue;
}




